@import url('https://fonts.googleapis.com/css2?Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f6fb;
  font-family: 'Muli', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  justify-content: space-between;
  max-width: 100%;
  width: 350px;
}